/*main media*/
@use '../../0_page//style/common.scss' as *;
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .main-intro-form {
        padding: 20px 40px 60px 40px !important;

    }
}

@media screen and (max-width: 1024px) {
    .main-intro-form {
        padding: 20px 8px 60px 8px !important;
        gap: 100px !important;
    }
}

@media screen and (max-width:  768px) {
    .main-intro-form {
        gap: 80px !important;
    }

    .intro-form-title { 
        width: 100%;
        text-align: center;
        @include fontStyle(28px, "Comfortaa", 400, 1px, #ffffff);
        font-optical-sizing: auto;
      }
      
      .intro-form-subtitle {
        width: 100%;
        text-align: center;
        @include fontStyle(28px, "Comfortaa", 400, 1px, #ffffff);
        font-optical-sizing: auto;
      }

    .intro-form__form-title {
        text-align: center;
    }

}


@media screen and (max-width: 460px) {
    .intro-form {
        flex-direction: column;
    }
}




