/*common_styles_for whole_body*/
.page {
  min-width: 320px;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 15px;
  font-family: "comforta", sans-serif;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: relative;
}
.page .page-main {
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(140deg, #64c1ff 3%, #0099ff 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-radius: 10px;
}

* {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

:root {
  /*colors*/
  --accent-color: #ffcda2;
  --header-font-color: #181c29;
  --hover-header-bg-color: rgba(0, 153, 255, 0.7);
  /*main-section*/
  --main-bg-color: #0099ff;
}

/*scroll styles*/
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 205, 162, 0.7);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 205, 162);
}

/*common font styles*/
.intro-form-title__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
  z-index: 2;
}

.intro-form-title {
  font-family: "Comfortaa", sans-serif;
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  color: #ffffff;
  font-optical-sizing: auto;
}
.intro-form-title .title-brand-name {
  font-family: "Comfortaa", sans-serif;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  color: var(--accent-color);
  font-optical-sizing: auto;
}

.intro-form-subtitle {
  font-family: "Comfortaa", sans-serif;
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  color: #ffffff;
  font-optical-sizing: auto;
}

.intro-form__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 2;
}

.intro-form__form-title {
  width: 100%;
  font-family: "Comfortaa", sans-serif;
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  color: #ffffff;
  font-optical-sizing: auto;
}

.intro-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.7); /*?*/
  border-radius: 10px;
  padding: 20px 20px;
}

.intro-form-item {
  max-width: 198px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  overflow: hidden;
}

.intro-form-input {
  height: 25px;
  background: transparent;
  border: none;
  outline: none;
  caret-color: var(--main-bg-color);
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  color: #181C29;
  font-optical-sizing: auto;
}

.intro-form-input::placeholder {
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  color: #181C29;
  font-optical-sizing: auto;
}

.input-style-line {
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}

.intro-form-input:focus + .input-style-line {
  background-color: var(--accent-color);
}

/*form btn*/
.intro-form-item--btn__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  cursor: pointer;
}

.intro-form-item__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 5px 0;
  transition: background-color 0.5s ease-in-out;
}

.intro-form-input-item__title {
  font-family: "Comfortaa", sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  color: #181C29;
  font-optical-sizing: auto;
  transition: color 0.5s ease-in-out;
}

@media (pointer: fine) {
  .intro-form-item--btn__wrapper:hover .intro-form-item__btn {
    background-color: var(--accent-color);
  }
  .intro-form-item--btn__wrapper:hover .intro-form-input-item__title {
    color: #ffffff;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .main-intro-form {
    padding: 20px 40px 60px 40px !important;
  }
}
@media screen and (max-width: 1024px) {
  .main-intro-form {
    padding: 10px 8px 60px 8px !important;
    gap: 100px !important;
  }
}
@media screen and (max-width: 768px) {
  .main-intro-form {
    gap: 60px !important;
  }
  .intro-form-title {
    width: 100%;
    text-align: center;
    font-size: 21px;
    font-optical-sizing: auto;
  }
  .intro-form-title .title-brand-name {
    font-size: 26px;
    font-optical-sizing: auto;
  }
  .intro-form-subtitle {
    width: 100%;
    text-align: center;
    font-size: 21px;
    font-optical-sizing: auto;
  }
  .intro-form__form-title {
    text-align: center;
    font-size: 21px;
  }
  .intro-form-input {
    font-size: 13px;
  }
  .intro-form-input::placeholder {
    font-size: 13px;
  }
  .intro-form-input-item__title {
    font-size: 13px;
  }
}
@media screen and (max-width: 465px) {
  .main-intro-form {
    gap: 20px !important;
  }
  .intro-form {
    width: 70%;
    flex-direction: column;
  }
  .intro-form-item {
    max-width: 100%;
    width: 100%;
  }
  .intro-form-item .intro-form-input {
    width: 100%;
  }
}
.main-intro-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  padding: 20px 80px 60px 80px;
  gap: 160px; /*to seporate form from title*/
  /*find the bg picture*/
  position: relative;
}

.main-intro-form::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-image: url(../../../assets/intro/rb_1802.png);
  background-repeat: no-repeat;
  background-size: 380px 400px;
  background-position: bottom left;
  opacity: 0.3;
}

/*# sourceMappingURL=intro--main-section-style.css.map */
