@media screen and (max-width: 1280px) {
  .page-footer {
    padding: 60px 40px;
  }

  .footer-contacts-addres__wrapper,
  .footer-contacts-tel__wrapper,
  .footer-contacts-mail__wrapper {
    height: 150px;
  }
}

@media screen and (max-width: 1024px) {
  .page-footer {
    padding: 40px 8px;
  }

  .footer-contacts__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .footer-contacts-addres__wrapper,
  .footer-contacts-tel__wrapper,
  .footer-contacts-mail__wrapper {
    height: 130px;
  }

  .addres-title,
  .tel-title,
  .mail-title {
    font-size: 21px !important; // TODO soleve problem with important derective
    text-align: center !important;
  }

  .mail-links__wrapper,
  .tel-links__wrapper,
  .addres-links__wrapper {
    align-items: center;

    .addres-link-item {
      display: flex;

      .addres-link {
        font-size: 16px;
      }
    }

    .mail-link,
    .addres-link,
    .tel-link {
      font-size: 16px;
    }

    .addres-link {
      text-align: center;
    }
  }
}
