/*common_styles_for whole_body*/
.page {
  min-width: 320px;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 15px;
  font-family: "comforta", sans-serif;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: relative;
}
.page .page-main {
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(140deg, #64c1ff 3%, #0099ff 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-radius: 10px;
}

* {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

:root {
  /*colors*/
  --accent-color: #ffcda2;
  --header-font-color: #181c29;
  --hover-header-bg-color: rgba(0, 153, 255, 0.7);
  /*main-section*/
  --main-bg-color: #0099ff;
}

/*scroll styles*/
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 205, 162, 0.7);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 205, 162);
}

/*common font styles*/
.addres-links__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
.addres-links__wrapper .addres-link {
  text-align: start;
  font-family: "Comfortaa", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  color: #ffffff;
  font-optical-sizing: auto;
}

.tel-links__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
.tel-links__wrapper .tel-link {
  text-align: start;
  font-family: "Comfortaa", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  color: #ffffff;
  font-optical-sizing: auto;
}

.mail-links__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
.mail-links__wrapper .mail-link {
  text-align: start;
  font-family: "Comfortaa", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  color: #ffffff;
  font-optical-sizing: auto;
}

.footer-logo.scss {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-logo .footer-logo-img {
  width: 50px;
  height: 50px;
}
.footer-logo .footer-logo-title {
  font-family: "Comfortaa", sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  color: #181C29;
  font-optical-sizing: auto;
}

.footer-logo-subtitle {
  font-family: "Comfortaa", sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  color: #181C29;
  font-optical-sizing: auto;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .page-footer {
    padding: 60px 40px !important;
  }
  .footer-contacts-addres__wrapper,
  .footer-contacts-tel__wrapper,
  .footer-contacts-mail__wrapper {
    height: 200px !important;
  }
}
@media screen and (max-width: 1024px) {
  .page-footer {
    padding: 40px 8px !important;
  }
  .footer-contacts__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .footer-contacts-addres__wrapper,
  .footer-contacts-tel__wrapper,
  .footer-contacts-mail__wrapper {
    height: 150px !important;
  }
  .addres-title,
  .tel-title,
  .mail-title {
    font-size: 21px !important;
    text-align: center !important;
  }
  .mail-links__wrapper,
  .tel-links__wrapper,
  .addres-links__wrapper {
    align-items: center;
  }
  .mail-links__wrapper .addres-link-item,
  .tel-links__wrapper .addres-link-item,
  .addres-links__wrapper .addres-link-item {
    display: flex;
  }
  .mail-links__wrapper .addres-link-item .addres-link,
  .tel-links__wrapper .addres-link-item .addres-link,
  .addres-links__wrapper .addres-link-item .addres-link {
    font-size: 16px !important;
  }
  .mail-links__wrapper .mail-link,
  .mail-links__wrapper .addres-link,
  .mail-links__wrapper .tel-link,
  .tel-links__wrapper .mail-link,
  .tel-links__wrapper .addres-link,
  .tel-links__wrapper .tel-link,
  .addres-links__wrapper .mail-link,
  .addres-links__wrapper .addres-link,
  .addres-links__wrapper .tel-link {
    font-size: 16px !important;
  }
  .mail-links__wrapper .addres-link,
  .tel-links__wrapper .addres-link,
  .addres-links__wrapper .addres-link {
    text-align: center !important;
  }
}
.page-footer {
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 80px;
  gap: 40px;
}

.footer-contacts__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer-logo__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-contacts-addres__wrapper,
.footer-contacts-tel__wrapper,
.footer-contacts-mail__wrapper {
  max-width: 320px;
  min-width: 300px;
  width: 100%;
  min-height: auto;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  background-color: var(--main-bg-color);
  border-radius: 10px;
  padding: 10px 20px;
}
.footer-contacts-addres__wrapper .addres-title,
.footer-contacts-addres__wrapper .tel-title,
.footer-contacts-addres__wrapper .mail-title,
.footer-contacts-tel__wrapper .addres-title,
.footer-contacts-tel__wrapper .tel-title,
.footer-contacts-tel__wrapper .mail-title,
.footer-contacts-mail__wrapper .addres-title,
.footer-contacts-mail__wrapper .tel-title,
.footer-contacts-mail__wrapper .mail-title {
  width: 100%;
  width: 100%;
  text-align: start;
  font-family: "Comfortaa", sans-serif;
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  color: #ffffff;
  font-optical-sizing: auto;
}

/*# sourceMappingURL=footer.css.map */
