.page-header {
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 40px 0 40px;
}

.header-contacts {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 20px;
}

/*contacts*/
/*addres, phone*/
.contacts-addreses__wrapper,
.contacts-phones__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
}
.contacts-addreses__wrapper .addreses-item,
.contacts-addreses__wrapper .phones-item,
.contacts-phones__wrapper .addreses-item,
.contacts-phones__wrapper .phones-item {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 5px;
  cursor: pointer;
}
.contacts-addreses__wrapper .addreses-item .icon,
.contacts-addreses__wrapper .phones-item .icon,
.contacts-phones__wrapper .addreses-item .icon,
.contacts-phones__wrapper .phones-item .icon {
  fill: #dedede;
  transition: all 0.3s ease-in-out;
}
.contacts-addreses__wrapper .addreses-item .addres,
.contacts-addreses__wrapper .addreses-item .phone,
.contacts-addreses__wrapper .phones-item .addres,
.contacts-addreses__wrapper .phones-item .phone,
.contacts-phones__wrapper .addreses-item .addres,
.contacts-phones__wrapper .addreses-item .phone,
.contacts-phones__wrapper .phones-item .addres,
.contacts-phones__wrapper .phones-item .phone {
  font-size: var(--font-size-main);
  font-family: var(--main-font);
  letter-spacing: 1px;
  color: var(--header-font-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

/*hover effects*/
.addreses-item:hover .icon path {
  fill: #fff;
  transition: all 0.3s ease-in-out;
}

.addreses-item:hover .addres {
  color: #fff;
}

.phones-item:hover .icon path {
  fill: #fff;
  transition: all 0.3s ease-in-out;
}

.phones-item:hover .phone {
  color: #fff;
}

.phones-call__back {
  height: 100%;
  display: flex;
  align-items: end;
}
.phones-call__back .call-back__btn {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.phones-call__back .call-back__btn .call-back-title {
  font-size: 13px;
  font-family: var(--main-font);
  letter-spacing: 1px;
  font-weight: 400;
  color: var(--header-font-color);
  transition: color 0.3s ease-in-out;
}

.call-back__btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.call-back__btn:hover .call-back-title {
  color: #ffffff;
}

/*nav block*/
.header__wrapper {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header-nav .nav-item {
  cursor: pointer;
  position: relative;
  padding: 5px;
}
.header-nav .nav-item .item-title {
  font-size: 17px; /*?????*/
  font-family: var(--main-font);
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--header-font-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

/*hover effects*/
.nav-item:hover .item-title {
  color: #fff;
}

/*# sourceMappingURL=header.css.map */
