@media screen and (max-width: 1024px) {
  .main-slider {
    padding: 40px 8px;
  }

  .slider-newsletter {
    flex-direction: column;
    align-items: start;
  }
}

@media screen and (max-width: 768px) {
  .slider-title__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .slider-title-btn__wrapper {
    .slider-title-btn {
      font-size: 21px;
    }
  }

  .expo-card {
    .card-title__wrapper {
      .card-title {
        font-size: 21px;
      }

      .card-star {
        font-size: 16px;
      }
      .card-star-svg {
        fill: #181c29;
        transition: fill 0.5s ease-in-out;
      }
      .card-subtitle {
        font-size: 16px;
      }
    }
  }

  .newsletter-input-title,
  .newsletter-input-subtitle {
    font-size: 21px;
  }

  .input-field::placeholder {
    font-size: 16px;
  }

  .newsletter-input-btn__wrapper {
    .newsletter-input-btn {
      .newsletter-input-btn-title {
        font-size: 16px !important; //TODO solve problem with important derective
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .slider-title__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .newsletter-input-title__wrapper {
    width: 100%;
    align-items: center;
    .newsletter-input-title,
    .newsletter-input-subtitle {
      font-size: 21px;
      width: 100%;
      text-align: center;
    }
  }

  .newsletter-input-field {
    width: 100%;
    flex-direction: column;
    align-items: center;

    .newsletter-input-field__wrapper {
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: 380px) {
  .main-slider {
    padding: 20px 8px;
  }
}
