.main-slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 60px 80px;
  gap: 40px; /*?*/
  overflow: hidden;
}

.main-slider::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-image: url(../../../assets/slider/plain-top.png);
  background-repeat: no-repeat;
  background-size: 380px 400px;
  background-position: top left;
  opacity: 0.3;
}

/*common_styles_for whole_body*/
.page {
  min-width: 320px;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 15px;
  font-family: "comforta", sans-serif;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: relative;
}
.page .page-main {
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(140deg, #64c1ff 3%, #0099ff 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-radius: 10px;
}

* {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

:root {
  /*colors*/
  --accent-color: #ffcda2;
  --header-font-color: #181c29;
  --hover-header-bg-color: rgba(0, 153, 255, 0.7);
  /*main-section*/
  --main-bg-color: #0099ff;
}

/*scroll styles*/
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 205, 162, 0.7);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 205, 162);
}

/*common font styles*/
.slider-title__wrapper {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
  z-index: 2;
}

.slider-title-btn__wrapper {
  max-width: 380px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  border: 2px #ffffff solid;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.slider-title-btn__wrapper .slider-title-btn {
  width: 100%;
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  color: #ffffff;
  font-optical-sizing: auto;
}

@media (pointer: fine) {
  .slider-title-btn__wrapper:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }
}
.slider-win {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
}
.slider-win .slider-expo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  transform: translateX(0);
}
.slider-win .spec--offer {
  display: none;
}

.expo-card {
  max-width: 600px;
  width: 100%;
  flex-shrink: 0;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  background-image: url(../../../assets/slider/cards/MinamarkBeachResort.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  cursor: pointer;
}
.expo-card .card-title__wrapper {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  /*for creating a tringle*/
  clip-path: polygon(0% 100%, 0% 0%, 100% 100%);
  padding: 20px;
  transition: background-color 0.5s ease-in-out;
}
.expo-card .card-title__wrapper .card-title {
  width: 20%;
  font-family: "Comfortaa", sans-serif;
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  color: #181c29;
  font-optical-sizing: auto;
  transition: color 0.5s ease-in-out;
}
.expo-card .card-title__wrapper .card-title-star__wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
.expo-card .card-title__wrapper .card-title-star__wrapper .card-star {
  font-family: "Comfortaa", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  color: #181c29;
  font-optical-sizing: auto;
  transition: color 0.5s ease-in-out;
}
.expo-card .card-title__wrapper .card-title-star__wrapper .card-star-svg {
  fill: #181c29;
  transition: fill 0.5s ease-in-out;
}
.expo-card .card-title__wrapper .card-subtitle {
  font-family: "Comfortaa", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  color: #181c29;
  font-optical-sizing: auto;
  transition: color 0.5s ease-in-out;
}

@media (pointer: fine) {
  .expo-card:hover .card-title__wrapper {
    background-color: rgba(0, 153, 255, 0.7);
  }
  .expo-card:hover .card-title {
    color: #ffffff;
  }
  .expo-card:hover .card-title-star__wrapper .card-star {
    color: #ffffff;
  }
  .expo-card:hover .card-title-star__wrapper .card-star-svg {
    fill: var(--accent-color);
  }
  .expo-card:hover .card-subtitle {
    color: #ffffff;
  }
}
.slider-btn__wrapper {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  z-index: 2;
}
.slider-btn__wrapper .btn-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 2px #ffffff solid;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.slider-btn__wrapper .btn-arrow .arrow {
  stroke: #ffffff;
  transition: stroke 0.5s ease-in-out;
}
@media (pointer: fine) {
  .slider-btn__wrapper .btn-arrow:hover {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
  }
}

.slider-newsletter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  z-index: 2;
  gap: 20px;
}

.newsletter-input-title__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0px;
}
.newsletter-input-title__wrapper .newsletter-input-title {
  font-family: "Comfortaa", sans-serif;
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  color: #ffffff;
  font-optical-sizing: auto;
  padding: 0 0 0 5px;
}
.newsletter-input-title__wrapper .newsletter-input-subtitle {
  font-family: "Comfortaa", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  color: #ffffff;
  font-optical-sizing: auto;
  padding: 0 0 0 5px;
}

.newsletter-input-field {
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: end;
  flex: 1;
  gap: 10px;
  gap: 5px;
}
.newsletter-input-field .newsletter-input-field__wrapper {
  min-width: 300px; /*?*/
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex: 1;
  position: relative;
  padding: 0 0 5px 0;
}
.newsletter-input-field .newsletter-input-field__wrapper .input-field {
  width: 100%;
  height: 30px;
  align-self: flex-end;
  border: none;
  outline: none;
  background: transparent;
  font-family: "Comfortaa", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  color: #ffffff;
  font-optical-sizing: auto;
}
.newsletter-input-field .newsletter-input-field__wrapper .input-field::placeholder {
  font-family: "Comfortaa", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  color: #ffffff;
  font-optical-sizing: auto;
}
.newsletter-input-field .newsletter-input-field__wrapper .input-field:focus {
  border: none;
}
.newsletter-input-field .newsletter-input-field__wrapper .input-field-style-line {
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}
.newsletter-input-field .newsletter-input-field__wrapper .input-field:focus + .input-field-style-line {
  background-color: var(--accent-color);
}
.newsletter-input-field .newsletter-input-btn__wrapper {
  padding: 0 0 5px 0;
}
.newsletter-input-field .newsletter-input-btn__wrapper .newsletter-input-btn {
  padding: 5px 10px;
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.newsletter-input-field .newsletter-input-btn__wrapper .newsletter-input-btn .newsletter-input-btn-title {
  font-family: "Comfortaa", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  color: #181c29;
  font-optical-sizing: auto;
  transition: color 0.2s ease-in-out;
}
.newsletter-input-field .newsletter-input-btn__wrapper .newsletter-input-btn:hover {
  background-color: var(--accent-color);
}
.newsletter-input-field .newsletter-input-btn__wrapper .newsletter-input-btn:hover .newsletter-input-btn-title {
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .main-slider {
    padding: 40px 8px;
  }
  .slider-newsletter {
    flex-direction: column;
    align-items: start;
  }
}
@media screen and (max-width: 768px) {
  .slider-title__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .slider-title-btn__wrapper .slider-title-btn {
    font-size: 21px;
  }
  .expo-card .card-title__wrapper .card-title {
    font-size: 21px;
  }
  .expo-card .card-title__wrapper .card-star {
    font-size: 16px;
  }
  .expo-card .card-title__wrapper .card-star-svg {
    fill: #181c29;
    transition: fill 0.5s ease-in-out;
  }
  .expo-card .card-title__wrapper .card-subtitle {
    font-size: 16px;
  }
  .newsletter-input-title,
  .newsletter-input-subtitle {
    font-size: 21px;
  }
  .input-field::placeholder {
    font-size: 16px;
  }
  .newsletter-input-btn__wrapper .newsletter-input-btn .newsletter-input-btn-title {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 640px) {
  .slider-title__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .newsletter-input-title__wrapper {
    width: 100%;
    align-items: center;
  }
  .newsletter-input-title__wrapper .newsletter-input-title,
  .newsletter-input-title__wrapper .newsletter-input-subtitle {
    font-size: 21px;
    width: 100%;
    text-align: center;
  }
  .newsletter-input-field {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .newsletter-input-field .newsletter-input-field__wrapper {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 380px) {
  .main-slider {
    padding: 20px 8px;
  }
}

/*# sourceMappingURL=slider-section.css.map */
