@use "../../0_page//style/common.scss" as *;

.slider-win {
  max-width: 600px;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  z-index: 2;

  .slider-expo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 20px;

    transform: translateX(0);
  }

  .spec--offer {
    display: none;
  }
}

.expo-card {
  max-width: 600px;
  width: 100%;
  flex-shrink: 0;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;

  background-image: url(../../../assets/slider/cards/MinamarkBeachResort.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;

  cursor: pointer;

  .card-title__wrapper {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;

    gap: 8px;

    background-color: rgba(255, 255, 255, 0.5);

    border-radius: 10px;

    /*for creating a tringle*/
    clip-path: polygon(0% 100%, 0% 0%, 100% 100%);

    padding: 20px;

    transition: background-color 0.5s ease-in-out;

    .card-title {
      width: 20%;
      @include fontStyle(28px, "Comfortaa", 700, 1px, #181c29);
      font-optical-sizing: auto;
      transition: color 0.5s ease-in-out;
    }

    .card-title-star__wrapper {
      display: flex;
      justify-content: start;
      align-items: center;

      gap: 8px;

      .card-star {
        @include fontStyle(18px, "Comfortaa", 400, 1px, #181c29);
        font-optical-sizing: auto;
        transition: color 0.5s ease-in-out;
      }
      .card-star-svg {
        fill: #181c29;
        transition: fill 0.5s ease-in-out;
      }
    }

    .card-subtitle {
      @include fontStyle(18px, "Comfortaa", 400, 1px, #181c29);
      font-optical-sizing: auto;
      transition: color 0.5s ease-in-out;
    }
  }
}

@media (pointer: fine) {
  .expo-card:hover .card-title__wrapper {
    background-color: rgba(0, 153, 255, 0.7);
  }

  .expo-card:hover .card-title {
    color: #ffffff;
  }
  .expo-card:hover .card-title-star__wrapper .card-star {
    color: #ffffff;
  }

  .expo-card:hover .card-title-star__wrapper .card-star-svg {
    fill: var(--accent-color);
  }

  .expo-card:hover .card-subtitle {
    color: #ffffff;
  }
}
