.slider-btn__wrapper {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  z-index: 2;

  .btn-arrow {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;

    border: 2px #ffffff solid;

    border-radius: 10px;

    cursor: pointer;
    transition: all 0.5s ease-in-out;

    .arrow {
      stroke: #ffffff;
      transition: stroke 0.5s ease-in-out;
    }
  }

  @media (pointer: fine) {
    .btn-arrow:hover {
      border-color: var(--accent-color);
      background-color: var(--accent-color);
    }
  }
}
