/*common_styles_for whole_body*/
.page {
  min-width: 320px;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 15px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: relative;
}
.page .page-main {
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(140deg, #64c1ff 3%, #0099ff 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-radius: 10px;
}

* {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

:root {
  /*colors*/
  --accent-color: #ffcda2;
  --header-font-color: #181c29;
  --hover-header-bg-color: rgba(0, 153, 255, 0.2);
  /*main-section*/
  --main-bg-color: #0099ff;
}

/*scroll styles*/
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 205, 162, 0.7);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 205, 162);
}

/*common font styles*/
.page-header-modal-btn__wrapper {
  width: 100%;
  display: none;
  justify-content: end;
  align-items: center;
  cursor: pointer;
}
.page-header-modal-btn__wrapper .modal-btn__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
}
.page-header-modal-btn__wrapper .modal-btn__wrapper .modal-btn-line {
  width: 40px;
  height: 3px;
  border-radius: 10px;
  background-color: #181c29;
  pad: 10px;
}

.page-header-adopt__nav__wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  position: fixed;
  top: 96px;
  right: 0;
  z-index: 3;
  gap: 20px;
  animation: openMenu 0.5s ease;
}

.header-adopt-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-adopt-nav .adopt-nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border-radius: 10px;
  transition: background-color 0.5s ease-in-out;
}
.header-adopt-nav .adopt-nav-item .item-link {
  font-family: "Comfortaa", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  color: #181c29;
  font-optical-sizing: auto;
  transition: color 0.5s ease-in-out;
}
@media (pointer: fine) {
  .header-adopt-nav .adopt-nav-item:hover {
    background-color: var(--hover-header-bg-color);
  }
  .header-adopt-nav .adopt-nav-item:hover .item-link {
    color: var(--main-bg-color);
  }
}

.header-adopt-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/*# sourceMappingURL=header-adopt-menu.css.map */
