@use "./header-adopt-menu";
@use "./adopt-menu-animation";
@use "./media-header";

.page-header {
  max-width: 1440px;
  min-width: 320px;
  width: 100%;

  display: flex;
  justify-content: start;
  align-items: center;

  gap: 20px;

  padding: 10px 80px;
}

.logo-link-img {
  width: 65x;
  height: 65px;
}

.page-header__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;

  .nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 8px;
    position: relative;

    padding: 8px 12px;
    cursor: pointer;

    border-radius: 10px;

    transition: background-color 0.5s ease;

    .item-link {
      font-size: 16px;
      font-family: "Comfortaa", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
      color: #181c29;

      letter-spacing: 1px;

      transition: color 0.5s ease;
    }
  }

  @media (pointer: fine) {
    .nav-item:hover {
      background-color: var(--hover-header-bg-color);
    }

    .nav-item:hover .item-link {
      color: #ffffff;
    }
  }
}

.header-contacts {
  display: flex;
  flex: 1;
  justify-content: end;
  align-items: center;

  gap: 8px;

  .contacts-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 8px 8px;
    border-radius: 10px;
    transition: background-color 0.5s ease;

    cursor: pointer;
  }

  .contact-item-address-svg {
    stroke: #181c29;
    transition: stroke 0.5s ease;
  }

  .contact-item-phone-svg {
    fill: #181c29;
    transition: fill 0.5s ease;
  }

  @media (pointer: fine) {
    .contacts-item:hover {
      background-color: var(--hover-header-bg-color);
    }

    .contacts-item:hover .contact-item-address-svg {
      stroke: #ffffff;
    }

    .contacts-item:hover .contact-item-phone-svg {
      fill: #ffffff;
    }
  }
}
