@media screen and (max-width: 1280px) {
  .main-info {
    padding: 60px 20px !important;
  }
}

@media screen and (max-width: 1024px) {
  .main-info {
    padding: 40px 8px !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
  }

  .info-title {
    text-align: center !important;
  }
}



@media screen and (max-width: 768px) {
  .info-title {
    text-align: center !important;
    font-size: 21px !important;
  }

  
  .item-news-title, 
  .item-forecast-title, 
  .item-temp-title,
  .item-reviews-title__name  {
    font-size: 16px !important;
  }

  
  .item-news-title-date, 
  .item-news-article,
  .item-reviews-title__date,
  .item-reviews-article {
    font-size: 10px !important;
  }

}
